---
- name: Check if Docker is installed
  ansible.builtin.command:
    cmd: docker --version
  register: docker_check
  ignore_errors: true

- name: Fail if Docker is not installed
  ansible.builtin.fail:
    msg: "Docker is not installed! Please install Docker before running the Nextcloud setup role."
  when: docker_check.failed

- name: Check if Docker Compose plugin is installed
  ansible.builtin.command:
    cmd: docker compose version
  register: compose_check
  ignore_errors: true

- name: Fail if Docker Compose is not installed
  ansible.builtin.fail:
    msg: "Docker Compose is not installed! Please install Docker Compose (or the Docker Compose CLI) before running the Nextcloud setup role."
  when: compose_check.failed

- name: Ensure proxy network exists
  community.docker.docker_network:
    name: "{{ docker_nextcloud_proxy_network }}"
    state: present

- name: Ensure Nextcloud directories exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ 82 if 'alpine' in docker_nextcloud_image else 33 }}"
    group: "{{ 82 if 'alpine' in docker_nextcloud_image else 33 }}"
    mode: '0755'
    recurse: yes
  loop:
    - "{{ docker_compose_project_dir }}"
    - "{{ docker_nextcloud_www_dir }}"
    - "{{ docker_nextcloud_html_dir }}"
    - "{{ docker_nextcloud_config_dir }}"
    - "{{ docker_nextcloud_data_dir }}"
    - "{{ docker_nextcloud_db_dir }}"

- name: Create docker-compose file
  template:
    src: docker-compose.yaml.j2
    dest: "{{ docker_compose_project_dir }}/docker-compose.yaml"
    mode: '0644'

- name: Deploy Nextcloud stack with Docker Compose CLI
  ansible.builtin.command:
    cmd: docker compose up -d --pull always
    chdir: "{{ docker_compose_project_dir }}"
  become: true

- name: Run Nextcloud cron every 5 minutes
  ansible.builtin.cron:
    name: "nextcloud cron"
    minute: "*/5"
    job: "docker exec -u www-data {{ docker_nextcloud_container_prefix }}-app php {{ docker_nextcloud_html_dir }}/cron.php"

- name: check if CAN_INSTALL file exists => installation required
  ansible.builtin.stat:
    path: "{{ docker_nextcloud_config_dir }}/CAN_INSTALL"
  register: can_install_file

- name: run nextcloud installation (without wizard) (if CAN_INSTALL exists)
  community.docker.docker_container_exec:
    container: "{{ docker_nextcloud_container_prefix }}-app"
    command: >
      bash -c "cd {{ docker_nextcloud_html_dir }} &&
               php occ maintenance:install
               --admin-user '{{ docker_nextcloud_admin_user }}'
               --admin-pass '{{ docker_nextcloud_admin_password }}'"
  when: can_install_file.stat.exists
