---
# -------------------------
# Teardown Tasks
# -------------------------

- name: Stop and remove Nextcloud containers
  community.docker.docker_compose:
    project_src: "{{ docker_compose_project_dir }}"
    state: absent
    remove_orphans: true
    stopped: true
  when: nextcloud_remove_all

- name: Remove docker-compose project directory
  file:
    path: "{{ docker_compose_project_dir }}"
    state: absent
  when: nextcloud_remove_all

- name: Remove proxy network
  community.docker.docker_network:
    name: "{{ docker_nextcloud_proxy_network }}"
    state: absent
  when: nextcloud_remove_all